[submodule "crazyflie_cpp"]
	path = crazyflie_cpp
	url = git@github.com:devanshdhrafani/crazyflie_cpp.git
[submodule "crazyflie_tools"]
	path = crazyflie_tools
	url = https://github.com/whoenig/crazyflie_tools
[submodule "acados"]
	path = acados
	url = https://github.com/tmmsartor/acados
	branch = crazyflie
[submodule "catkin_simple"]
	path = catkin_simple
	url = git@github.com:catkin/catkin_simple.git
[submodule "rpg_quadrotor_common"]
	path = rpg_quadrotor_common
	url = git@github.com:uzh-rpg/rpg_quadrotor_common.git
[submodule "eigen_catkin"]
	path = eigen_catkin
	url = git@github.com:ethz-asl/eigen_catkin.git
